<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205831606623-jgaqbr23n8dbl1gts8v77jr0qulqt6bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205831606623-jgaqbr23n8dbl1gts8v77jr0qulqt6bl</string>
	<key>API_KEY</key>
	<string>AIzaSyA72RhMIC1g9mQ6-u0gz83b1vSTt3nnJDY</string>
	<key>GCM_SENDER_ID</key>
	<string>205831606623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.edu.umtyuksel.deneme</string>
	<key>PROJECT_ID</key>
	<string>tez-1-8801b</string>
	<key>STORAGE_BUCKET</key>
	<string>tez-1-8801b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205831606623:ios:bba9f4c52e1cec91a526ea</string>
</dict>
</plist>